@import "https://unpkg.com/open-props";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-9);
  color: var(--gray-0);
  font-family: var(--font-sans);
}

main {
  min-height: 90vh;
}

footer {
  padding: var(--size-fluid-3) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    width: 50%;
  }
  p:last-child {
    text-align: right;
  }
}

.container {
  max-width: 50rem;
  margin: 0 auto;

  @media (max-width: 50rem) {
    padding: 0 var(--size-fluid-2);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-block: var(--size-fluid-3);
}

.logo {
  height: var(--size-6);
}

.link {
  color: var(--gray-0);
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--blue-2);
  }
}

.icon {
  height: var(--size-6);
}

.controls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--size-3);
  padding: var(--size-3) 0;

  label[for="format"] {
    grid-column: span 2;
  }

  @media (max-width: 36rem) {
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

    label[for="format"] {
      grid-column: span 1;
    }

    button {
      grid-row: 4;
      grid-column: 1 / -1;
    }
  }
}

input,
button,
select {
  font: inherit;
  font-size: inherit;
  color: var(--gray-0);
  letter-spacing: inherit;
  border: 2px var(--gray-1) solid;
  background-color: var(--gray-9);
  border-radius: var(--radius-2);
  transition: all 0.2s ease-in-out;
}

:where(input[type="text"], button, select) {
  padding-inline: var(--size-2);
  padding-block: var(--size-2);
}

input {
  border-color: var(--blue-2);

  &:hover {
    border-color: var(--blue-4);
  }
}

input[type="color"] {
  border-color: var(--gray-0);
}

select {
  border-color: var(--red-2);

  &:hover {
    border-color: var(--red-4);
  }
}

button {
  border-color: var(--green-2);

  &:hover {
    background-color: var(--green-1);
    color: var(--gray-9);
    border-color: var(--green-4);
  }
}

:where(input[type="color"]) {
  padding: 0;
  height: 100%;
  width: 100%;
}

:where(a[href], button, input:not([type="text"]), label[for], select) {
  cursor: pointer;
}

.output {
  padding: var(--size-fluid-2) 0;
  position: relative;
  min-height: 20vh;
}

.code {
  display: flex;
  flex-direction: column;
  gap: var(--size-fluid-2);
  align-items: stretch;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.code pre {
  box-shadow: var(--shadow-2);
  font-family: var(--font-mono);
  background-color: var(--gray-8);
  max-inline-size: 100%;
  border: var(--border-size-1) solid var(--red-1);
  border-radius: var(--radius-2);
  padding: var(--size-fluid-2);

  @media (--motionOK) {
    animation: var(--animation-fade-in);
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  justify-content: center;
  align-items: center;

  font-size: var(--font-size-fluid-0);
  text-align: center;
}

.spinner svg {
  width: var(--size-8);
  height: var(--size-8);
  color: var(--blue-1);
}
.spinner_grow {
  animation: spinner_grow 1.2s infinite;
}

.spinner_0 {
  color: var(--red-3);
}

.spinner_1 {
  animation-delay: 0.1s;
  color: var(--green-3);
}
.spinner_3 {
  animation-delay: 0.2s;
  color: var(--blue-3);
}
.spinner_5 {
  animation-delay: 0.3s;
  color: var(--orange-3);
}
.spinner_7 {
  animation-delay: 0.4s;
  color: var(--purple-3);
}
.spinner_9 {
  animation-delay: 0.5s;
  color: var(--yellow-3);
}
.spinner_11 {
  animation-delay: 0.6s;
  color: var(--red-3);
}
.spinner_10 {
  animation-delay: 0.7s;
  color: var(--green-3);
}
.spinner_8 {
  animation-delay: 0.8s;
  color: var(--blue-3);
}
.spinner_6 {
  animation-delay: 0.9s;
  color: var(--orange-3);
}
.spinner_4 {
  animation-delay: 1s;
  color: var(--purple-3);
}
.spinner_2 {
  animation-delay: 1.1s;
  color: var(--yellow-3);
}
.spinner_group {
  transform-origin: center;
  animation: spinner_rotate 12s linear infinite;
}
@keyframes spinner_grow {
  0%,
  50% {
    animation-timing-function: cubic-bezier(0.27, 0.42, 0.37, 0.99);
    r: 1px;
  }
  25% {
    animation-timing-function: cubic-bezier(0.53, 0, 0.61, 0.73);
    r: 2px;
  }
}
@keyframes spinner_rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hidden {
  opacity: 0;
}

a {
  padding-inline: var(--size-1);
  margin-inline: calc(var(--size-1) * -1);
  padding-block: var(--size-1);
  margin-block: calc(var(--size-1) * -1);
  color: inherit;

  &:hover {
    color: var(--gray-2);
  }

  &:where([href]) {
    text-decoration-color: var(--indigo-1);

    &:where(:visited) {
      color: var(--gray-4);
      text-decoration-color: var(--purple-2);
    }
  }
}
